* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--index: calc(1vw+1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--font-raleway: 'Raleway-s';
	--font-outfit: 'Outfit-s';
	--gallery-gap: calc(var(--index) * 10);
}

@font-face {
	font-family: 'Raleway-s';
	src: url(../fonts/raleway-regular.woff2);
	font-weight: 400;
}
@font-face {
	font-family: 'Outfit-s';
	src: url(../fonts/outfit-regular.woff2);
	font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-outfit);
}

/* will-change */
.content,
.hero,
.main-header,
.gallery > * {
	will-change: transform;
}
body {
	background-image: url(../img/bg.jpg);
	background-size: 50px;
	color: #fafafa;
	font-family: var(--font-raleway);
	overflow-x: hidden;
}

.hero {
	width: calc(var(--index) * 46);
	position: absolute;
	top: 8vh;
	left: 37vw;
	z-index: -1;
}
.container {
	padding: 0 7vw;
}
.main-header {
	height: 100vh;
}
.main-title {
	font-size: calc(var(--index) * 12);
	position: absolute;
	width: min-content;
	bottom: 12vh;
	line-height: 0.9;
}
.gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery__item {
	max-width: calc(var(--index) * 31);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 8px;
}
.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}

.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
}
.text-block {
	color: var(--color-text);
	position: relative;
}
.text-block__h {
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
}
.text-block__p {
	line-height: 1.75;
}
